
@import "~bootstrap/scss/bootstrap.scss";

.card-title{
    color: white;
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    bottom: 50px;
    
}
.intro-text{
    color:white;
    font-size: 50px;
    bottom: 100px;
    margin-right: 400px;
    border: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.boton1{
    background-color: red;
    font-size: 60px;
    color: white;
    border-radius: 30px;
    
}
.lion{
    font-size: 47px;
    color:white;;
    font-family: cursive;
    // background-color: rgb(226, 226, 102);
   
}
.bufalo{
    font-size: 55px;
    color: white;
    font-family: cursive;

    
}
.cat{
    font-size: 50px;
    color: white;
    font-family: cursive;

}
.predators{
    margin: auto;
    color: white;
    font-family: cursive;
}
.herbibors{
    margin: auto;
    color: white;
    font-family: cursive;
}
.domestics{
    margin: auto;
    color: white;
    font-family: cursive;
}
.card{
 background-color: black;
}    
.segundop{
    background-image: url("https://thumbs.dreamstime.com/b/frontera-incons%C3%BAtil-con-el-%C3%A1rbol-tropical-tal-como-animales-de-la-palma-del-pl%C3%A1tano-y-selva-vector-143231695.jpg");
    // width: 115px;
    height: 550px;

}
.segundot{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;

}
#info{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: cursive;
    position: relative;
    top: 100px;
    margin-left: 80px;
}
.anchor{
    text-align: center;
    font-size: medium;
    background-color: black;
}
.linelink{
    text-align: center;
    color: red;
}
.a{
    color:red;
    font-size: 30px;
    background-color: white;

}
.fist{
    bottom: 100px;
}
.nav-button{
    background-color: red;
    color: white;
    position: relative;
    left: 1200px;
    font-size: 30px;
    border-radius: 15px;
}
.secnav-button{
    background-color: red;
    color: white;
    font-size: 30px;
    border-radius: 15px;
}
.conte-backg{
    background-color: lightblue;

}
.col{
    background-color: white;
    bottom: 900px;
    margin-top: 700px;
    cursor: pointer;
}
.card-text{
    text-align: center;
    margin-top: 584px;
    font-size: 60px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.hello{
    background-color: white;
}
.card-group{
    cursor: pointer;
    box-shadow: white;
}
.col-whale{
    cursor: pointer;
}
.col-dog{
    cursor: pointer;
}
.col-croc{
    cursor: pointer;
}
.card-titles{
    color: red;
    text-align: center;
}
.flip-card {
    background-color: transparent;
    // width: 300px;
    // height: 200px;
    border: 1px solid black;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color:black;
    color: red;
  }
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
   




